/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

body {
	font-family: "Fedra Serif B Book",Georgia;
	color: white;
	background-color: #111;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 3.2em;
	text-transform: uppercase;
	margin: 0;
}

header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 90px;
}

.logo {
	background-image: url(../images/bekk_sprite.png);
	background-position: 0 -274px;
	width: 73px;
	height: 17px;
	margin-top: 11px;
	display: block;
	float: left;
}

.headline {
	padding-left: 70px;
	float: right;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.clock {
	width: 125px;
	min-height: 30px;
	margin: 0 auto;
	text-align: center;
}

.content {
 	background-color: #353535;
 	width: 96%;
 	height: 60px;
 	padding: 2%;
 	margin-top: 80px;
 	margin-bottom: 200px;
 	overflow: hidden;
 	white-space: nowrap;
 	position: relative;
}

.text {
		position: absolute;
}

.text span {
	height: 1.4em;
	font-size: 3em;
	display: inline-block;
}

.score {
	width: 203px;
	min-height: 30px;
	margin: 0 auto;
	text-align: center;
}

.correct {
	background-color: #297f79;
}

.wrong {
	background-color: #FD5157;
}

.status-message-success {
	color: #297f79;
}

.status-message-error {
	color: #FD5157;
}

.status-message {
	font-family: 'Conduit ITC W01 Light', Arial;
	font-size: 30px;
	display: none;
	margin: 20px 0;
}


.final-result {
	color: #fff;
	width: 500px;
	margin: 250px auto;
	position: relative;
	font-size: 2.0em;
}

.final-result p {
	font-size: 20px;
}


.final-result-close {
	background-image: url(../images/bekk_sprite.png);
	background-position: -47px 0;
	height: 74px;
	width: 74px;
	position: absolute;
	top: -105px;
	right: 0;
	display: block;
	text-indent: -9999px;
}

#fancybox-overlay {
	background-color: black;
	opacity: 0.9;
	cursor: auto;
	min-height: 1080px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.fancybox-wrap {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	outline: none;
	display: none;
}

.circle {
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	padding: 30px;
	font-size: 89px;
	font-family: 'Conduit ITC W01 Light', Arial;
	line-height: 100%;
	text-align: center;
	font-weight: bold;
	min-width: 200px;
	min-height: 200px;
	border-radius: 50%;
	background-color: #FD5158;
}

.start-wrap {
	height: 100%;
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.start-wrap a {
	cursor: pointer;
}

.finish-wrap {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	z-index: 160;
}

.finish-wrap div {
	display: none;
	font-size: 71px;
}

.countdown-wrap {
	height: 100%;
	width: 100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	z-index: 150;
}

.countdown {
	width: 100%;
	text-align: center;
	display: none;
}

.countdown span {
	font-size: 12.5em;
}

.scoreline-wrap {
	margin-bottom: 40px;
}

.scoreline {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	font-family: 'Conduit ITC W01 Light', Arial;
	border-bottom: 1px solid #262626;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.scoreline .number {
	display: inline-block;
	width: 93px;
	font-size: 60px;
	line-height: 100%;
	color: #FD5158;
	vertical-align: baseline;
	padding-top: 10px;
}

.scoreline .label {
	text-transform: uppercase;
	color: #F1F1F1;
	font-size: 20px;
	margin-left: 10px;
	vertical-align: baseline;	
}

input {
	padding-bottom: 4px;
	background-color: transparent;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #5D5D5D;
	color: white;
	font-size: 20px;
	width: 100%;
	font-family: 'Conduit ITC W01 Light',Arial;
}

input::-webkit-input-placeholder {
	color: #5D5D5D;
	font-family: 'Conduit ITC W01 Light',Arial;
}

input:focus {
	border-bottom-color: #FD5158;
	outline: 0;
}

